body {
	margin: 0;
	font-family: sans-serif;
}

.page-container {
	display: flex;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 20px 0 10px;
	max-width: 1200px;
}

.page-title {
	display: flex;
	align-self: center;
	margin: 0 auto;
}

.movie-pool {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pool-item {
	padding: 10px;
	margin: 5px;
	background-color: #b5e1f4;
	border-radius: 4px;
	box-shadow: 2px 2px 10px #18618c9a;
}

.pool-item-title {
	color: #c43737;
}

.pool-item-votes {
	color: #18628c;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.movie-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 10px;
}

.movie-crud-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	display: flex;
	margin: 0 auto;
}

h2 {
	margin: auto;
}

/* a {
	text-decoration: none;
	font-size: .6em;
} */

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bracket-container {
	max-width: 80%;
	margin: 20px auto 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* align-items: flex-start; */
	align-content: space-around;
	/* border: 1px solid black; */
	border-radius: 4px;
	max-height: 1000px;
	/* background-color: #b5e1f4; */
	/* box-shadow: 2px 2px 10px #18618c9a; */
}

/* .matchups-container {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: none;
	border-radius: 4px;
	flex-wrap: wrap;
	background-color: #b5e1f4;
	box-shadow: 2px 2px 10px #18618c9a;
} */

.matchups-container {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	border: none;
	border-radius: 4px;
	flex-wrap: wrap;
	background-color: #b5e1f4;
	box-shadow: 2px 2px 10px #18618c9a;
}

.matchup-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
	width: 200px;
	margin: 10px;
	padding: 5px;
	background-color: #f88484;
	border-radius: 4px;
}

.matchup-item {
	margin: 5px;
}

input.send-to-next-rd {
	border: none;
	background-color: transparent;
	color: #18618c9a;
	cursor: pointer;
}

.form-container {
	display: flex;
	align-self: center;
}

form {
	margin: 20px 0;
}

a {
	font-size: 1.5em;
	margin: 0 auto;
	text-decoration: none;
}

.delete {
	display: flex;
	font-size: .6em;
	margin: 0 auto;
	text-decoration: none;
	align-self: center;
}

div.bracket-input-container {
	display: flex;
	flex-direction: row;
	margin: 5px;
	background-color: #f88484;
	border-radius: 5px;
	max-width: 60%;
	justify-content: center;
	align-content: center;
}

.input {
	margin: 10px;
}

.hide {
	display: none;
}
