body {
	margin: 0;
	font-family: sans-serif;
}

.movie-pool {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.movie-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 10px;
}

.movie-crud-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	margin: auto;
}

/* a {
	text-decoration: none;
	font-size: .6em;
} */

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	margin: 20px 0;
}
